@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.readQuestion {
  display: flex;
  align-items: center;
  background-color: #303030;
  width: 816px;
  height: 100%;
  margin-bottom: 9px;
}

.navbar {
  color: white;
  position: fixed;
  top: 0;
  font-size: 14px;
  z-index: 999;
  width: 100%;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3), 50%);
}

.navbar.scrolled {
  background-color: rgba(87, 47, 47, 0.7);
}

.close {
  display: none !important;
}

.link {
  text-decoration: none;
  color: inherit;
}

.linkMovie {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed;
  background-color: #df454c;
}
